@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  font-family: -apple-system, "Barlow", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  display: grid;
  grid-template-columns: 400px 1fr;

  .content-wrapper {
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    grid-column: 2/3;
  }

  @media only screen and (max-width: 480px) {
    display: block;
  }
}

